<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolaipc.ungdungcauhoitracnghiem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/diggicon"
        android:label="TestBlock D"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".slide.ScreenSlideActivity" />
        <activity android:name=".Toanhoc.ChondethiActivity" />
        <activity android:name=".slide.TestDoneActivity" />
        <activity android:name=".themcauhoi.Themcauhoi_list" />
        <activity android:name=".themcauhoi.Themcauhoi" />
        <activity android:name=".themcauhoi.SpinnerActivity" />
        <activity android:name=".themcauhoi.AdapterTracnghiem" />
        <activity android:name=".themcauhoi.AdapterTracnghiem" />
        <activity android:name=".themcauhoi.Main2Activity" />
        <activity android:name=".capnhat.Main2Activity" />
        <activity android:name=".capnhat.Main2Activity" />
        <activity android:name=".capnhat.AdapterTracNghiem" />
        <activity android:name=".capnhat.UpdateActivity" />
        <activity android:name=".capnhat.AddActivity" />
        <activity android:name=".ontap.OntapNguVanActivity" />
        <activity android:name=".ontap.OntapLichSuActivity" />
        <activity android:name=".ontap.OntapDiaLyActivity" />
        <activity android:name=".chucnangphu.huongdan1Activity"></activity>
    </application>

</manifest>